.text-yellow {
    color:gold;
}
footer {
    color: white;
}
ul {
    list-style-type: none;
}
img {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 50px;
}
.explosion {
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100px;
    margin-left: 25%;
    margin-right:25%;
}
.pic {
    position: absolute;
    top: 0px;
    right: 0px;
}
.center-elements {
    text-align: center;
    height: auto;
    width: auto;
    margin-left:25%;
    margin-right: 25%;
}
.schedulebuilder-logo {
    fill:green;
}