html, body {
    height: 100%;
}
body > footer {
    position: sticky;
    top: 100vh;
}
.text-yellow {
    color:gold;
}
footer {
    color: white;
}
ul {
    list-style-type: none;
}
img {
    height: auto;
    width: auto;
}
.container {
    position: relative;
}
.explosion {
    margin-top: 2%;
    position: absolute;
    top: 0px;
    left: 28%;
}
.center-elements {
    text-align: center;
    height: auto;
    width: auto;
    margin-left:25%;
    margin-right: 25%;
}
form {
    margin-left: 25%;
    margin-right:25%;
}
.padding-top {
    margin-top:1%;
}
.hidden {
    display: none;
}
